<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>MVC Makale Projesi</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/dist/css/blog-home.css" rel="stylesheet">

   
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Home/Index">Makaleler</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="/Home/Hakkimizda/">Hakkımızda</a>
                    </li>
                    <li>
                        <a href="/Home/YaziArsiv/">Yazı Arşivi</a>
                    </li>
                    <li>
                        <a href="/Home/Iletisim/">İletişim</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Account/Register/">Kayıt Ol</a>
                    </li>
                    <li>
                        <a href="/Account/Login/">Giriş Yap</a>
                    </li>
                    <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i>Sibel<i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="/Account/Profile/"><i class="fa fa-user fa-fw"></i>Profil</a>
                                </li>
                                <li>
                                    <a href="/Views/Shared/_AdminLayout/"><i class="fa fa-gear fa-fw"></i> Admin</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="/Account/Logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                                </li>
                            </ul>
                             /.dropdown-user
                        </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- Blog Entries Column -->
            <div class="col-md-8">
                @*içerik kısmı*@
                @RenderBody()
            </div>
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">
                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#">Teknoloji </a>
                                </li>
                                <li>
                                    <a href="#"> Sağlık</a>
                                </li>
                                <li>
                                    <a href="#"> Sinema </a>
                                </li>
                              
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#"> Video </a>
                                </li>
                                <li>
                                    <a href="#">Gezelim Görelim</a>
                                </li>
                                <li>
                                    <a href="#"> Yazarlarımız</a>
                                </li>
                              
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <hr>
        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; @DateTime.Now.Year</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>
    </div>
    <!-- /.container -->
    <!-- jQuery -->
    <script src="~/dist/js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/dist/js/bootstrap.min.js"></script>
    @RenderSection("script", required: false)
</body>
</html>